body {
  padding-top: 70px;
  color: white;
  background-color: #6f5499;
}
section .columna-1 {
  padding: 2em;
}
section .columna-2 {
  padding: 2em;
}
section .columna-2 .botones {
  padding-top: 1em;
  text-align: center;
}
hr.divisor {
  width: 100%;
}
