Thumbs.db
.DS_Store
.gradle
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
gradle/
gradlew*
grails-wrapper.jar
grailsw*
node_modules/
grails-app/assets/stylesheets/css/sites.min.css
src/assets/stylesheets/*.css
