@background: #6F5499;
@background-dark: #59437C;
@screen-sm-min: 768px;

body {
  font-size: 14px;
  color: white;
  background-color: @background;
  .navbar-default {
    color: #777;
    .navbar-brand {
      font-size: 22px
    }
    .external-link {
      padding: 5px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  footer {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.fondo {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(black, @background-dark);
    opacity: .6;
  }
}

section {
  @media (min-width: @screen-sm-min) {
    height: 100vh;
    padding-top: 70px;
  }
  &#section-top {
    height: 100vh;
  }
  display: block;
  overflow: auto;
  width: 100% !important;
  &.inverted {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.imagen {
    margin: 0;
    padding: 0;
    .row {
      padding-top: 70px;
    }
  }
  .columna-1 {
    padding: 2em;
    h1, h2 {
      margin-bottom: 25px;
    }
    h2 {
      span.glyphicon {
        opacity: .5;
        font-size: 20px;
        position: absolute;
        left: -22px;
        top: 7px;
      }
      &:hover {
        span.glyphicon {
          opacity: 1;
        }
      }
    }
  }
  .columna-2 {
    padding: 2em;
    .botones {
      padding-top: 1em;
      text-align: center;
    }
  }
}

#to-top {
  right: 20px;
  bottom: 20px;
  border: none;
  display: none;
  position: fixed;
  cursor: pointer;
  border-radius: 23px;
  background-color: @background;
  &:hover {
    border: none;
    background-color: @background-dark;
  }
}
